@import url(main.css);

.produtos {
	max-width: 900px;
	height: 70vh;
	margin: auto;
	display: flex;
}

.produtos li {
	height: 400px;
	display: flex;
	list-style: none;
	text-align: center;
	margin: auto 20px;
	padding: 20px 20px;
	border-radius: 10px;
	transition: 300ms;
	background-color: white;

}.produtos li h2{
	text-transform: uppercase;
	line-height: 2rem;
	font-size: 2rem;
	font-weight: 800;
}
.produtos li:hover {
	border: 3px solid var(--darkGrey);
	padding: 35px 30px;
	filter: drop-shadow( 0 0 10px rgba(0, 0, 0, 0.3));
}
.content{
	margin: auto;
}

.produto-descricao {
	width: 85%;
	margin: auto;
	line-height: 1rem;
}

.produto-preco {
	font-size: 1.5em;
	font-weight: 900;
	margin-top: 10px;
}