  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    background-color: #CCC;
    font-family:  'Sora' ,sans-serif;
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}

p{
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
}

em strong{
  color: red;
}
